#music-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#music-main>div {
    position: relative;
    width: 36%;
    height: 85%;
    background-color: white;
    border-radius: 20px;
    margin: 0px 30px;
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

#music-main>div::-webkit-scrollbar {
    display: none;
}